@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/wintry';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

:disabled,
[data-disabled] {
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: initial;
}

[role='separator']:first-child,
[role='separator']:last-child,
[role='separator'] + [role='separator'] {
	display: none;
}
